.footer {
    position: relative;
    z-index: 99;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    a:hover{
        color: $white;
    }
    &_title{
        margin-bottom: calc(31px - 7px);
        font-size: 25px;
        margin: 0 0 31px;
        color: $white;
        font-weight: 500;
        letter-spacing: .01em;
    }

    &_content{
        color: #c4c4c4;
        font-size: 17px;
        letter-spacing: 0;
        line-height: 28px;
        p{
            margin: 0 0 5px;
           
        }
        .contb{
            margin-bottom: 10px;
        }
        .newb{
            margin-bottom: 35px;
        }
        &_icons{
            display: flex;
            margin-top: 10px;
        }
        &_icon{
            margin-right: 16px;
        }
    }


    &_top{
        position: relative;
        background-color: #282828;
        border-top: 0 solid #e1e1e1;

        &_inner{
            padding: 73px 0 75px;
            width: 1300px;
            margin: 0 auto;
            @include large {
                width: 100%;
            }
            &_content{
                width: 100%;
                display: flex;
                @include tablet {
                    flex-wrap: wrap;
                }
                &_item{
                    width: 25%;
                    padding: 0 15px;

                    @include tablet {
                        width: calc(100%/2);
                        margin-bottom: 40px;
                    }
                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }
    }
    &_bottom{
        @include flex(center, center);
        width: 100%;
        vertical-align: middle;
        background-color: #000;
        border-top: 0 solid #e1e1e1;
        &_content{
            padding: 18px 0;
            margin: 0 auto;
            color: #fff;
            font-family: "Josefin Sans",sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: .35em;

            p{
                margin: 0;
                span{
                    color: $white;
                }
            }
        }
    }
}