.header {
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: $white;
  transition: height 0.3s ease;
  
  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    z-index: 100;

    @include mobile {
        height: $header-mobile-height;
    }
  }

  @include tablet {
    height: $header-tablet-height;
    box-shadow: $box-shadow;
  }

  @include mobile {
    height: $header-mobile-height;
  }

  &_container {
    padding: 0 4%;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &_menu {
    @include flex(center, space-between);
    font-size: 20px;
    height: 100%;
    a {
      &:hover {
        color: $red;
      }
    }

    &_left,
    &_right {
      @include flex(center, center);
      height: 100%;
    }

    &_item ~ &_item {
      margin-left: 21px;
      @include tablet {
        margin-left: 20px;
      }

      @include mobile {
        margin-left: 10px;
      }
    }
    &_item.active {
      font-weight: 600;
      color: $red;
    }

    &_item:hover {
      color: $red;
    }

    &_left {
      &_logo {
        inset: 0;
        pointer-events: none;

        img {
          height: 50px;
        }
      }

      &_nav {
        width: auto;
        padding: 0 0 0 40px;

        line-height: 23px;
        font-weight: 500;
        @include flex(center, center);

        &_close {
          display: none;
        }
        @include tablet {
          flex-direction: column;
          background-color: $black;
          position: absolute;
          color: $white;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          justify-content: flex-start;
          padding-top: 30px;
          transform: translateX(100%);
          transition: transform 0.5s ease;

          &.active {
            transform: translateX(0);
          }

          &_item ~ &_item {
            margin-left: unset;
            margin-top: 20px;
          }

          &_close {
            display: block;
            position: absolute;
            right: 20px;
            font-size: 2.5rem;
          }
        }
      }
    }
    &_right {
      font-size: 22px;
      &_item {
        @include flex(center, center);
      }

      @include mobile {
        font-size: 20px;
      }
    }
    &_mobile-tonggle {
      font-size: 32px;
      display: none;

      @include tablet {
        display: block;
        font-size: 2.5rem;
      }
    }
  }
  &_search{
    position: absolute;
    right: 103px;
    top: 100%;
    width: 380px;
    height: 90px;
    padding: 18px 37px 27px;
    margin: 0;
    background-color: #282828;
    overflow: hidden;
    z-index: 9999;
    box-shadow: $box-shadow;
    display: none;
    @include tablet {
      width: 90%;
      right: 35px;
      left: 35px;
      

    }
    @include mobile {
      width: 90%;
      right: 15px;
      left: 15px;
      height: 60px;
      padding: 5px 20px ;

    }
    &.show{
        display: block;
    }
    .form_holder {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        border-bottom: 1px solid #575757;
        
        .search_field{
            width: calc(100% - 40px);
            padding: 0 0 0 7px;
            letter-spacing: 0;
            font-size: 19px;
            height: 44px;
            line-height: 42px;
            color: #999;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            outline: 0;
            transition: color .2s ease-out;
        }
        .search_submit{
            font-size: 12px;
            line-height: 1em;
            color: #fff;
            letter-spacing: .35em;
            font-family: "Josefin Sans",sans-serif;
            width: 40px;
            padding: 0;
            text-align: right;
            cursor: pointer;           
        }
    }
    .form_holder::before{
        content: '';
        width: 1px;
        height: 18px;
        background: #8a8a8a;
        position: absolute;
        display: block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
  }
}





