.List-filter {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  &_result {
    width: 50%;
    font-size: 19px;
    line-height: 50px;
    font-weight: 500;
  }
  &_sort {
    width: 50%;
    @include flex(flex-end, flex-end);
    .ant-select-selector {
      font-family: "Josefin Sans", sans-serif;
      height: 50px !important;
      padding: 13px 19px !important;
      font-size: 17px;
      text-transform: capitalize;
      letter-spacing: 0.07em;
      line-height: 24px;
      font-weight: 300;
      color: #999;
    }
  }
}
.List-product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ItemProduct {
  width: 33.33333%;
  padding: 0 15px;
  margin: 0 0 30px;
  position: relative;
  &_inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    &_image {
      position: relative;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      overflow: hidden;
      &_sold {
        position: absolute;
        top: 33px;
        left: 0;
      }
      &_sold1 {
        text-transform: uppercase;
        text-align: center;
        min-width: 73px;
        height: 30px;
        padding: 10px 16px;
        line-height: 33px;
        letter-spacing: 0.35em;
        font-size: 10px;
        color: #fff;
        font-family: "Josefin Sans", sans-serif;
      }
      &_sold1:nth-child(1) {
        background-color: rgba(209, 64, 49, 0.95);
      }
      &_sold1:nth-child(2) {
        background-color: #999;
        margin-left: 5px;
      }

      &_text {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 10px;
        opacity: 0;
        background-color: rgba(209, 64, 49, 0.95);
        transition: opacity 0.3s ease-out;
        a:hover {
          color: $white;
        }
        &_readmore {
          @include absoluteCenter($direction: "both");
          font-family: "Josefin Sans", sans-serif;
          line-height: 2.857em;
          letter-spacing: 0.35em;
          font-weight: 400;
          text-transform: uppercase;
          outline: 0;
          font-size: 12px;
          color: #fff;
        }
        &_readmore:hover {
          background-image: linear-gradient(
            transparent calc(100% - 1px),
            currentColor 1px
          ) !important;
        }
      }
    }
  }
  &_text {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 21px 0 37px;
    z-index: 10;
    &_author {
      line-height: 17px;
      margin-top: 1px;
      letter-spacing: 0.35em;
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
    }
    &_title {
      margin: 3px 0;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.01em;
      font-size: 21px;
      line-height: 1.19em;
      text-transform: capitalize;
    }
    &_price {
      line-height: 1;
      color: #343434;
      font-size: 19px;
      margin: 7px 0 0;
    }
  }
}
.ItemProduct:hover .ItemProduct_inner_image_text {
  opacity: 1;
}
.List-pagination {
  width: 100%;
  margin: 20px 0;
  @include flex(center, center);
  .ant-pagination-item {
    display: inline-block;
    min-width: 32px;
    margin: 0 6px !important;
    line-height: 24px !important;
    font-size: 25px !important;
    height: 32px;
    margin-right: 8px;
    font-family: "Cormorant Garamond", sans-serif !important;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border: 0;
    color: #555;
    background-color: #fff;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    user-select: none;
  }
}
