.shop-table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  width: 100%;

  thead {
    tr {
      border: 0;
      border-bottom: 1px solid #e1e1e1;
      th {
        padding: 10px 8px;
        text-align: left;
        color: #000;
        font-weight: 500;
        letter-spacing: 0.01em;
        word-wrap: break-word;
        font-size: 21px;
        line-height: 1.19em;
        margin: 0;
        border: 0;
      }
      .cart-product-remove {
      }
    }
  }
  tbody {
    tr {
      border: 0;
      td {
        padding: 25px 8px;
        vertical-align: middle;
        text-align: inherit;
        font-size: 19px;
      }
      .cart-product-remove {
        padding-left: 10px;
        padding-right: 10px;
      }
      .cart-product-image {
        width: 86px;
        padding-right: 10px;
      }
      .cart-product-quantity {
        &_item {
          font-size: 19px;
          width: 100px;
          @include flex(center, center);
          padding: 10px;
          border: 1px solid #999;
          &_input {
            margin: 0 20px;
          }
        }
      }
    }
    .cart-item {
      border-bottom: 1px solid #e1e1e1;
    }
  }
}
.cart-form {
  display: flex;
  &_shipping {
    width: 50%;
    margin-right: 10%;
    padding-right: 150px;
    h2 {
      position: relative;
      display: block;
      margin: 0 0 26px;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.01em;
      font-size: 35px;
      line-height: 1.142em;
    }
    
    form {
        .cart-form_box{
            margin: 10px 0;
            
            input {
              height: 45px;
              font-weight: 600;
              font-size: 15px;
            }
            .ant-select{
                width: 100%!important;
                height: 40px;
                font-weight: 600;
                font-size: 15px;
                .ant-select-selector {
                    width: 100%;
                    height: 100% !important;
                    padding: 0 11px;
                }
            }
            textarea{
                width: 100%;
                padding: 10px;
            }
        }
    }
  }
  &_total {
    width: 40%;
    padding: 20px;
    h2 {
      position: relative;
      display: block;
      margin: 0 0 26px;
      color: #000;
      font-weight: 500;
      letter-spacing: 0.01em;
      font-size: 35px;
      line-height: 1.142em;
    }
    table {
      margin: 0 0 40px;
      border-collapse: collapse;
      border-spacing: 0;
      vertical-align: middle;
      width: 100%;
      tbody {
        tr {
          border: 0;
          border-bottom: 1px solid #e1e1e1;

          th {
            width: 40%;
            padding-right: 5px;
            border: 0;
            color: #000;
            font-weight: 500;
            letter-spacing: 0.01em;
            word-wrap: break-word;
            font-size: 21px;
            line-height: 1.19em;
            margin: 0;
            padding: 14px 0;
            text-align: left;
            vertical-align: middle;
          }
          td {
            padding: 14px 0;
            text-align: left;
            vertical-align: middle;
            font-size: 19px;
          }
        }
      }
    }
  }
}
