.AutobiographyItemMonth {
    width: 100%;
    padding: 0 15px;
    background-image: url(../../../../Assets//Images/Home/home-2-rev-2-img-1.jpg);
    background-size: cover;
    position: relative;
    min-height: 550px;
    &_text{
        @include absoluteCenter($direction: "top");
        margin-left: 100px;
        @include large {
            margin-left: 50px;
        }
        @include mobile {
            margin-left: 0px;
            padding: 0 20px;

        }
        &_subtitle{
            font-family: "Josefin Sans",sans-serif;
            line-height: 25px;
            letter-spacing: 4px;
            font-weight: 400;
            font-size: 12px;
            color: rgb(153, 153, 153);
            text-transform: uppercase;
        }
        &_title{
            line-height: 45px;
            letter-spacing: 0px;
            font-weight: 500;
            font-size: 35px;
            color: $black;
        }
        &_content{
            margin-top: 20px;
            line-height: 28px;
            letter-spacing: 0px;
            font-weight: 400;
            font-size: 19px;
            width: 486px;
            @include large {
                width: 300px;
            }
            @include mobile {
                width: 100%;
            }
        }
        &_read{
            margin-top: 40px;
        }
    }
    .pic1{
        position: absolute;
        top: -35px;
        right: 20%;
        width: 332px;
        height: 332px;
        z-index: 1;
        @include large {
            width: 0;
        }
        
        
    }
    .pic2{
        position: absolute;
        bottom: -35px;
        right: 10%;
        z-index: 2;
        width: 369px;
        height: 369px;
        @include large {
            right: 10px;
            width: 269px;
            height: 269px;
        }
        @include tablet {
            width: 230px;
            height: 230px;
        }
        @include mobile {
            width: 0;
        }
    }
    .pic3{
        position: absolute;
        top: -20px;
        right: 33%;
        width: 285px;
        height: 426px;
        @include large {
            right: 23%;
        }
        @include tablet {
            right: 12%;
        }
        @include tablets {
            right: 0%;
            width: 210px;
            height: 310px;
        }
        @include mobile {
            width: 0;
        }
        
    }
    .pic4{
        position: absolute;
        bottom: -40px;
        right: 50%;
        width: 179px;
        height: 182px;
        @include tablet {
            width: 120px;
            height: 110px;
        }
        
    }
    .pic5{
        position: absolute;
        top: 40px;
        right: 10%;
        width: 105px;
        height: 53px;
        @include large {
            top: 230px;
            right: 0%;
        }
        @include mobile {
            width: 0;
        }
    }
    .fancy1{
        position: absolute;
        top: 40px;
        right: 8%;
        width: 248px;
        height: 228px;
        background-color: #a6def7;
        border-radius: 33% 67% 59% 41% / 42% 44% 56% 58% ;
        @include large {
            top: 230px;
            right: 0%;
            width: 160px;
            height: 160px;
        }
        @include mobile {
            width: 0;
        }
    }
}
.AutobiographyItemYear{
    width: 100%;
    padding: 0px 15px;
    margin-top: 200px;
    position: relative;
    min-height: 550px;
    &_text{
        position: absolute;
        right: 100px;
        transform: translateY(50%);
        @include large {
            right: 50px;
        }
        @include tablets {
            transform: translateY(0%);
        }
        @include mobile {
            right: 0px;
            
        }
        &_subtitle{
            font-family: "Josefin Sans",sans-serif;
            line-height: 25px;
            letter-spacing: 4px;
            font-weight: 400;
            font-size: 12px;
            color: rgb(153, 153, 153);
            text-transform: uppercase;
        }
        &_title{
            line-height: 45px;
            letter-spacing: 0px;
            font-weight: 500;
            font-size: 35px;
            color: $black;
        }
        &_content{
            margin-top: 20px;
            line-height: 28px;
            letter-spacing: 0px;
            font-weight: 400;
            font-size: 19px;
            width: 486px;
            @include large {
                width: 300px;
            }
            @include mobile {
                width: 100%;
            }
        }
        &_read{
            margin-top: 40px;
        }
    }
    .pic1{
        position: absolute;
        top: 0px;
        left: 15%;
        width: 410px;
        height: 410px;
        z-index: 1;
        @include large {
            width: 0;
        }
        
        
    }
    .pic2{
        position: absolute;
        bottom: 40px;
        left: 7%;
        z-index: 2;
        width: 234px;
        height: 234px;
        @include large {
            left: 20px;
        }
        @include tablets {
            width: 0;
        }
    }
    .pic3{
        position: absolute;
        top: 30px;
        left: 5%;
        width: 279px;
        height: 297px;
        @include large {
            right: 23%;
        }
        @include tablet {
            right: 12%;
        }
        @include tablets {
            right: 0%;
            width: 210px;
            height: 310px;
        }
        @include mobile {
            width: 0;
        }
        
    }
    .pic4{
        position: absolute;
        bottom: 40px;
        right: 100px;
        width: 241px;
        height: 123px;
        @include tablet {
            width: 0;   
        }
        
    }
    .pic5{
        position: absolute;
        bottom: 10%;
        left: 26%;
        width: 207px;
        height: 75px;
        @include large {
            bottom: 10%;
            left: 30%;
        }
        @include tablets {
            width: 0;
        }
    }
    .fancy1{
        position: absolute;
        bottom: 70px;
        left: 23%;
        width: 397px;
        height: 298px;
        background-color: #a6def7;
        border-radius: 3% 97% 27% 73% / 70% 85% 15% 30%   ;
        @include large {
            bottom: 135px;
            left: 10%;
            width: 248px;
            height: 225px;
        }
        @include tablet {
            width: 248px;
            height: 225px;
            z-index: -1;
        }
        @include mobile {
            width: 0;
        }
    }
}
