.CartHeaderItem{
    display: flex;
    margin-bottom: 20px;
    &_image{
        width: 50px;
        margin-right: 16px;
    }
    &_content{
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        padding-right: 20px;
        &_title{
            margin: 0;
            width: 50%;
            font-size: 17px;
            line-height: 17px;
            letter-spacing: 0;
            font-weight: 500;
            text-transform: capitalize;
        }
        &_price{
            margin: 0;
            color: #999;
            font-size: 17px;
            line-height: 24px;
        }
        &_remove{
            position: absolute;
            top: -4px;
            right: -3px;
            font-size: 19px;
            line-height: 1;
            color: #999;
        }
    }
    &_bton{
        text-align: center;
        margin: 40px 0;
    }
}
a:hover{
    color: $black;
}
.ant-drawer-content-wrapper{
    width: 368px!important;
    @include mobile{
        width: 100%!important;
    }
}