.Admin {
    min-height: 100vh;

    .ant-layout-sider-trigger{
        background-color: #001529;
        color: #fff;
    }

    .site-layout-background{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        .Logo{

            img{
                max-width: 60px;
            }
        }
    }

    .BoxForm{
        width: 100%;
        padding: 10px 20px;
    }
}
