.related_product_detail {
  margin: 80px 0 0;
  h2 {
    font-size: 25px;
    line-height: 1.25em;
    font-weight: 500;
    padding-bottom: 22px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 50px;
  }
  .related_product_detail_card {
    box-shadow: none;
    background: none;
    .author {
      margin-top: 1px;
      letter-spacing: 0.35em;
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
    }
    .title {
      margin: 3px 0;
      font-size: 21px;
      line-height: 1.19em;
    }
    p {
      margin: 0;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      line-height: 1;
      color: #343434;
      font-size: 19px;
      margin: 7px 0 0;
    }
  }
}
