// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&family=Satisfy&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-tab-highlight-color: transparent;
    user-select: none;
}

html {
    font-size: 62.5%;

    @include desktop{
        font-size: 50%;
    }
    @include tablet{
        font-size: 30%;
    }
}



body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

// custom Scrollbar

body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    
    @include tablet{
        width: 5px;
    }
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $txt-bold-color;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1569px;
    margin: 0 auto;

    @include laptop{
        max-width: 1140px;
    }

    @include desktop{
        max-width:960px;
    }

    @include maxWidth(900){
        max-width: 720px;
    }

    @include maxWidth(700){
      max-width: 520px;
    }

    @include tablet{
        max-width: 720px;
    }

    
    @include maxWidth(700){
        max-width: 520px;
      }

    @include mobile{
        max-width: 300px;
    }
}

.container-fluid{
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;

    @include laptop{
        max-width: 1360px;
    }

    @include desktop{
        max-width:1280px;
    }

    @include large{
        max-width: 900px;
    }

    @include maxWidth(900){
        max-width: 800px;
    }

    @include maxWidth(700){
      max-width: 500px;
    }

    @include tablet{
        max-width: 720px;
    }

    
    @include maxWidth(700){
        max-width: 520px;
      }

    @include mobile{
        max-width: 300px;
    }
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;

    // @include tablet {
    //     margin-top: calc(#{$header-tablet-height} + 20px);
    // }

    // @include mobile {
    //     margin-top: calc(#{$header-mobile-height} + 10px);
    // }
}

