// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&family=Satisfy&display=swap");
// Cormorant Garamond
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&family=Satisfy&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&family=Satisfy&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-tab-highlight-color: transparent;
    // user-select: none;
}

// html {
//     font-size: 62.5%;
// }
body {
    // font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
}

// custom Scrollbar
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $txt-bold-color;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;
    // @include tablet {
    //     margin-top: calc(#{$header-tablet-height} + 20px);
    // }
    // @include mobile {
    //     margin-top: calc(#{$header-mobile-height} + 10px);
    // }
}