$white: #fff;
$black: #111111;
$red: #f96400;
$blue: #0565bb;
$yelow: #fccb05;
$black-test:#110e03;
$gray: #555;

$txt-main-color: #000;
$txt-second-color: #999999;
$txt-white: #fff;
$txt-bold-color:#222;

$btn-main-color: #fff;

$header-height: 100px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;
$header-shrink-height: 80px;


$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;

$font : 'Cormorant Garamond', serif;

$box-shadow:
0.4px 0.9px 2.2px rgba(0, 0, 0, 0.034),
0.9px 2.1px 5.3px rgba(0, 0, 0, 0.044),
1.8px 4px 10px rgba(0, 0, 0, 0.052),
3.1px 7.1px 17.9px rgba(0, 0, 0, 0.058),
5.8px 13.4px 33.4px rgba(0, 0, 0, 0.064),
14px 32px 80px rgba(0, 0, 0, 0.07)
;

$txt-p: 19px;
