$white: #fff;
$black: #111111;
$red: #f96400;
$blue: #0565bb;
$yelow: #fccb05;
$black-test:#110e03;


$txt-main-color: #111111;
$txt-second-color: #a9a9a9;
$txt-white: #fff;
$txt-bold-color:#222;

$btn-main-color: #fff;

$header-height: 80px;
$header-tablet-height: 60px;
$header-mobile-height: 50px;
$header-shrink-height: 80px;


$mobile:415;
$tablet: 768;
$tablet-s: 600;
$large: 1024;
$desktop: 1400;
$laptop:1660;

$font :  "Montserrat", sans-serif;
