$white: #fff;
$black: #111111;
$red: #f96400;
$blue: #0565bb;
$yelow: #fccb05;
$black-test:#110e03;


$txt-main-color: #111111;
$txt-second-color: #999999;
$txt-white: #fff;
$txt-bold-color:#222;

$btn-main-color: #fff;

$header-height: 100px;
$header-tablet-height: 80px;
$header-mobile-height: 60px;
$header-shrink-height: 80px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;

$font : 'Cormorant Garamond', serif;
